@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

//@import 'bourbon';
//@import 'neat';

///////////////////////////////////////////////////////////////////////////////

@import 'foundation_and_overrides';

@import 'topbar';
@import 'buttons';



//@import 'hire_us';


.date-aside {
  font-style: italic;
}

.blog-title {
  a {
    &:link{ color: black; }
    &:hover{ color: DarkGrey; }
  }
}