- set_meta_tags description:  "ATEORAMS is a tiny Rails and iOS development consultancy, that can provide development solutions."
- set_meta_tags rights: "ATEORAMS Copyright (C) 2014"
- set_meta_tags keywords: %w(Jacksonville Software ruby rails web apps websites ios osx cocoa)
= display_meta_tags
title = page_title app_name: "ATEORAMS", separator: "| ", page_title_symbol: :page_title
